html {
  background: linear-gradient(var(--white), var(--white2));
}

section {
  padding-top: 4.5rem;
  padding-bottom: 3.5rem;
}

#navbar,
section.even {
  background: linear-gradient(var(--primary), var(--primary-dark));
}

footer {
  background: linear-gradient(var(--black), var(--black2));
  padding: 2rem 0;
}

hr {
  height: 0.1rem;
  max-width: 100%;
  border: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--primary),
    rgba(0, 0, 0, 0)
  );
}

section.even hr {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--white),
    rgba(0, 0, 0, 0)
  );
}

section hr {
  margin-bottom: 3rem;
}

/* Applying media query (320 x 480) to change <img> and text size, positions and behavior when the display width is higher than smallest smartphones. */
@media only screen and (min-width: 480px) {
  section hr {
    margin-bottom: 4rem;
  }
}

/* Applying media query (1024 x 1920) to change <img> and text size, positions and behavior when the display width is higher than monitors. */
@media only screen and (min-width: 1024px) {
  section hr {
    margin-bottom: 5rem;
  }
}

/* Applying media query (more than 1500px) to change <img> and text size, positions and behavior when the display width is higher than high resolution monitors. */
@media only screen and (min-width: 1500px) {
  section {
    padding-top: 6rem;
  }

  section hr {
    margin-bottom: 6.5rem;
  }
}
