#skillset > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin: 1rem;
}

#skillset img {
  border-radius: 1rem;
  max-width: 6rem;
  cursor: context-menu;
}

#skillset > div > div {
  position: relative;
}

#skillset span {
  width: 120px;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: 50%;
  transform: translate(-60px, 10px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

#skillset > div > div:hover span {
  opacity: 1;
  transform: translate(-60px, 0px);
}

#skillset span:after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}

/* Applying media query (320 x 480) to change <img> and text size, positions and behavior when the display width is higher than smallest smartphones. */
@media only screen and (min-width: 480px) {
  #skillset > div {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}

/* Applying media query (600 x 1024) to change <img> and text size, positions and behavior when the display width is higher than tablets. */
@media only screen and (min-width: 600px) {
  #skillset > div {
    gap: 3rem;
  }
}

/* Applying media query (1024 x 1920) to change <img> and text size, positions and behavior when the display width is higher than monitors. */
@media only screen and (min-width: 1024px) {
  #skillset img {
    max-width: 9rem;
  }
}

/* Applying media query (more than 1500px) to change <img> and text size, positions and behavior when the display width is higher than high resolution monitors. */
@media only screen and (min-width: 1500px) {
  #skillset img {
    max-width: 15rem;
    margin-bottom: 5rem;
  }

  #skillset span {
    width: 150px;
    top: -45px;
    left: 45.5%;
  }
}

/* Applying media query (more than 1920px) to change <img> and text size, positions and behavior when the display width is higher than high resolution monitors. */
@media only screen and (min-width: 1920px) {
  #skillset span {
    left: 47%;
  }
}
